img {
    max-width: 100%;
}

.circle-image {
    border-radius: 50%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #283573;
}

footer {
    margin: auto;
}

footer li {
    list-style-type: none;
    display: inline;
}

footer li a {
    text-decoration: none;
}

footer {
    text-align: center;
}

header {
    text-align: center;
    background-color: #ffffff;
}

.header-logo {
    padding: 10px;
    width: 250px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    font-size: 1.25em;
    padding: 0 1em;
}

.nav-link {
    color: #283573;
}

.nav-link:hover {
    color: #5967ad;
}

.active {
    color: #f36868;
}

.active:hover {
    color: #f6a6a6;
}

.container h1 {
    padding: 10px;
}

.main_content {
    padding-top: 40px;
}

.row h2 {
    padding-top: 50px;
}

.social-icons a {
    color: #293770;
}

.social-icons a:hover {
    color: #5967ad;
}

.social-icons li {
    padding: 0 0.5em;
}
