img {
    max-width: 100%;
}

.circle-image {
    border-radius: 50%;
}

footer {
    margin: auto;
}

footer li {
    list-style-type: none;
    display: inline;
}

footer li a {
    text-decoration: none;
}

footer {
    text-align: center;
}
